.header{

    background-color: green;
    height: 200px;
    text-align: center;
    line-height: 200px;
}

.body {
padding: 30px;

}
body h1 {
    color: white;
    background-color: yellowgreen;

}

body h2 {
   font-weight: bold;

}

body h3 {
    background-color: yellowgreen;
    color: white;
    height: 50px;
    text-align: center;
    line-height: 50px;
    width: 250px;
    
} 

body h4{
    background-color: gainsboro;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    


}

.div {


}
