.header{

    background-color: green;
    height: 200px;
    text-align: center;
    line-height: 200px;
}

.body {
padding: 30px;

}


body h3 {
    background-color: green;
    height: 50px;
    text-align: center;
    line-height: 50px;
} 

.div {
    border: ;


}
